* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0;
    color: #D3C6AA;
}

tooltip {
    border: #c0caf5;
    color: #c0caf5;
    border-radius: 5px;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    background-color: #232A2E;
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    background-color: #232A2E;
    margin: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.focused {
    color: #D3C6AA;
    background-color: #232A2E;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #232A2E;
    color: #D3C6AA;
    border-radius: 5px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#backlight,
#power-profiles-daemon,
#bluetooth {
    background-color: #232A2E;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

#custom-date {
    color: #7dcfff;
    border-radius: 5px;
}

#custom-docker {
    color: #D3C6AA;
    background-color: #232A2E;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#custom-power {
    color: #232a2e;
    background-color: #e67e80;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#clock {
    color: #e69875;
    border-radius: 5px;
    margin-right: 10px;
}

#battery {
    color: #a7c080;
}

#battery.charging {
    color: #a7c080;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #D3C6AA;
    border-radius: 5px 5px 5px 5px;
}

#network {
    border-radius: 5px;
}

#pulseaudio {
    color: #D3C6AA;
}
